
body{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

header {
 display:flex;
 justify-content: space-between; 
 align-items: center;            
 width: 1,002.34px;
 height: 58.76px;                   
 background-color:#ffff;
padding: 11.14px, 100.23px, 11.14px, 100.23px,;
 gap: 43.8px;
}
.logo {
 display: flex;
 align-items: center;
 font-weight: bold;
 font-size: 18px;
 padding-left: 30px;
 width: 107.54px;
 height: 16.71px;
 gap: 5.57px;
}

.navbar {
 display: flex;
 gap: 22.27px;        
 width: 650.40px;
 height: 36.49px;
}

.navbar a {
 text-decoration: none;
 color: black;
 width: 307.82px;
 height: 17px;
 gap: 16.71;
 
}

.navbar button {
   width: 133.25px;
   height: 36.49px;
   padding: 9.74px,22.27px,9.74px,22.27px;
   background-color: #4caf4f;
   border-radius: 2.78px;
   border: none;
   align-items: center;
   justify-content: center;
   white-space: nowrap;   
   color: #ffff;
 }
 
.home{
 width: 1,002.34px;
 height: 897.35px;
 margin-top: 58.47px;
 gap: 27.84px;
}



 .hero-section{
   background-color: aliceblue;
   width: 1,002.34px;
   height: 416.95px;
   padding: 66.82px,100.23px,66.82px,100.23px,;
   gap: 72.39fx;
   display: flex;
   justify-content: space-around;
   align-items: center;
 } 

  .frame1{
   width: 457.32px;
   height: 192.9px;
   gap: 22.27px;
   background-color: aliceblue;
  
 }


.text1{
font: weight 600px;
color: #4d4d4d;
font-style: 600px;
font-size: 44.55px;
line-height: 52.9px; 
letter-spacing: 0%;
}

.text2{
 font: weight 600px;
 color: #4caf4f;
 font-style: 600px;
 font-size: 44.55px;
 line-height: 52.9px; 
 letter-spacing: 0%;
 } */

  .text3{
   font: weight 400px;
   color: #4d4d4d;
   font-style: 400px;
   font-size: 11.14px;
   line-height:16.71px; 
   letter-spacing: 0%;
   padding-bottom: 10px;
   }
 .frame1 button{

   width: 89.55px;
   height: 36.49px;
   padding: 9.74px,22.27px,9.74px,22.27px;
   background-color: #4caf4f;
   border-radius: 2.78px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #ffff;
 }

 .gambar{
   width: 272.16px;
   height: 283.3px;
  
 } 

  .clients{
   width: 1,002.34px;
   height: 132.23px;
   gap: 11.14px;
   padding-right: 100.23px;
   padding-left: 10.23px;
   background-color: #ffff;
   display: flex;
   justify-content: center;
 }

 .logo1{
   width: 772.64px;
   height: 53.57px;
   gap: 5.57px;    
 }

 .our{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 772.64px;
   height:31px;
   font-size: 25.06px;
   letter-spacing: 0%;
   line-height: 30.63px;
   font-weight: 600;
  
 } 


  .we{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 772.64px;
   height:17px;
   font-size: 11.14px;
   letter-spacing: 0%;
   line-height: 16.71px;
   font-weight: 400;
   
 }


 .logo2{
   width: 801.87x;
   height: 68.21px;
   display: flex;
   justify-content: space-between;

 } 

 .logo2 img{
   width: 33.41px;
   height: 33.41px;
   border-radius: 5.54px;
   margin-top: 30px;
 }

 .comunity{
   width: 1,002.34px;
   height: 84.57px;
   gap: 5.57px;
   justify-content: center;
   display: flex;
   align-items: center;
  flex-direction: column;
  justify-content: right;
 }

 .manage1{
   width: 377.27px;
   height: 62px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25.06px;
   letter-spacing: 0%;
   line-height: 30.63px;
   font-weight: 600;
  
   
 }
 .manage2{
   width: 377.27px;
   height: 62px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25.06px;
   letter-spacing: 0%;
   line-height: 30.63px;
   font-weight: 600;
   
   
 }

 .manage3{
   width:1,002.34px;
   height: 17px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 11.06px;
   letter-spacing: 0%;
   line-height: 16.71px;
   font-weight: 600;
 
 } 

 .frame4{
   width: 1,002.34px;
   height: 196.1px;
   padding-right: 100.23px;
   padding-left: 100.23px;
   display: flex;
   /* background-color: #4cafa8; */
   justify-content: space-between;
   
   
 }
 .MO{
   width: 208.12px;
   height: 182.1px;
   border-radius: 5.57px;
   padding: 16.71px,22.27px,16.71px,22.27px;
   gap: 27.89px;
   /* background-color: rgb(244, 244, 241); */
   display: flex;
   justify-content: center;
  
  
 }


 .member {
   width: 120px;              
   height: 150px;            
   display: flex;
   flex-direction: column;    
   justify-content: center;   
   align-items: center;       
   text-align: center;        
   gap: 8px;                 
    
   
 }
 .member img {
   max-width: 60%;            
   height: auto;
   display: block;
 }
 
 .M-text{
   width: 83.8px;
   height: 21px;
   font-size: 9.67px;
  
 }
    
 .NA{
   width: 208.12px;
   height: 182.1px;
   border-radius: 5.57px;
   padding: 16.71px,22.27px,16.71px,22.27px;
   gap: 27.89px;
   /* background-color: rgb(244, 244, 241); */
   display: flex;
   justify-content: center;
 }


 .CLUB{
   width: 208.12px;
   height: 182.1px;
   border-radius: 5.57px;
   padding: 16.71px,22.27px,16.71px,22.27px;
   gap: 27.89px;
   /* background-color: rgb(244, 244, 241); */
   display: flex;
   justify-content: center;
 }

 .body{
  width: 480.77px;
  height: 475.36px;
  background-color: azure;
  margin-top: 471.09px;
  margin-left: 0.33px;
  gap: 16.03px;
 }
