
body{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

.header{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  
}

.header-navbar a{
 margin-right: 20px;
 text-decoration: none;
 color:#4D4D4D;
 font-weight: 500;
 size: 11.14px;
 line-height: 16.71px;
 letter-spacing: 0%;
 
}
.header-navbar button{
 background-color: #4CAF4F;
 border-radius: 2.78px;
 border: none;
 width: 133.25px;
 height: 36.49px;
 color: #ffff;
 }

 .container{
  width: 100%;
  height: 416.95px;
  background-color: #F5F7FA;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .container-section{
  height: 457.32px;
  height: 192px;
 }
 .container-section-text1{
  font-weight: 600;
  font-size: 44.55px;
  line-height: 52.9px;
  letter-spacing: 0%;
  color: #4D4D4D;
 }
 .container-section-text2{
  font-weight: 600;
  font-size: 44.55px;
  line-height: 52.9px;
  letter-spacing: 0%;
  color:#4CAF4F;
 }
.container-section-button{
  width: 89.55px;
  height: 36.49px;
 border-radius: 2.78px;
 border: none;
  background-color: #4CAF4F;
  color: #F5F7FA;
  padding: 9.74px,22.27px,9.74px,22.27px;
  margin-top: 30px;
}
.container-img{
  width: 272.16px;
  height: 283.3px;
}

.client{
  width: 100%;
  height: 132.92px;
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.client-text{
  width: 772.64px;
  height: 53.57px;
}

.client-text-1{
  width: 772.64px;
  height: 31px;
  font-weight: 600;
  font-size: 25.06px;
  line-height: 30.63px;
  letter-spacing: 0%;
}

.client-text-2{
  width: 772.64px;
  height: 17px;
  font-weight: 400;
  font-size: 11.14px;
  line-height: 16.71px;
  letter-spacing: 0%;
}

.client-icon{
  display: flex;
  justify-content: space-between;
  width: 801.87px;
  height: 68px;
}
.client-icon img{
  width: 33.41px;
  height: 33.41px;
  border-radius: 5.57px;
}


.community{
  width: 100%;
  height: 320.8px;
  background-color: aliceblue;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
}
.community-text{
  width: 100%;
  height: 84.57px;
  
  display: flex;
  justify-content: center;
  
}

.community-text1{
width: 567.27px;
height: 62px;
font-weight: 600;
font-size: 39.06px;
line-height: 30.63px;
padding-top: 10px;
letter-spacing: 0%;

}

.community-text2{
width: 377.27px;
height:17px;
font-weight: 400;
font-size: 13.14px;
line-height: 16.71px;
letter-spacing: 0%;
margin-top: 10px;
margin-left: 60px;
margin-bottom: 20px;

}


.community-frame{
  width: 100%;
  height: 196.1px;
  /* background-color: #1066e8; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.community-frame-MO{
  width: 220.12px;
  height: 182.1px;
  border-radius: 5.57px;
}

.community-frame-MO1{
  width: 208.12px;
  height: 182.1px;
  background-color: #FFFFFF;
  border-radius: 5.57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px ,1px,1px,1px;
  border: #F5F7FA;
}
.community-frame-MO-logo{
  width: 25.7px;
  height: 18px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-top: 20px;

}
.community-frame-MO-text1{
  width: 59.14;
  height: 25px;
  font-weight: 700;
  font-size: 17.35px;
  line-height: 11,02;
  letter-spacing: 0%;
  color: #4D4D4D;
  font-weight: bold;
  display: flex;
  text-align: center;
 
}

.community-frame-MO-text2{
  width: 89.8;
  height: 21px;
  font-weight: 400;
  font-size: 9.67px;
  line-height: 6,68;
  letter-spacing: 0%;
  color: #4D4D4D;
  margin-top: 25px;
  
 
}
.Calender{
  width: 100%;
  height: 250.79px;
  /* background-color: #4CAF4F; */
  display: flex;
  justify-content: space-evenly;
 
}
.Calender-picture img{
  width: 270px;
  height: auto;
  margin-left: 40px;
 
}

.Calender-text1{
  width: 470px;
  height: 30px;
  font-weight: 600;
  font-size: 17.02px;
  line-height: 14.69px;
  margin-top: 20px;
  margin-right: 100px;

}

.Calender-text2{
  width: 470px;
  height: 60px;
  font-weight:400;
  font-size: 9.67px;
  line-height: 14.69px;
  background-color: #FFFFFF;
}

.Calender button{
  background-color: #4CAF4F;
  color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 15px;
}




.Achievements{
  width: 100%;
  height: 250.09px;
  display: flex;
 justify-content: space-around;
  background-color: #F5F7FA; 
  align-items: center;
}

.Achievements-text{
  width: 410.9px;
  height: 140.0px;
  /* background-color: #F5F7FA;  */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 40px;
  
}

.Achievements-text1{
  width: 400px;
  height: 40px;
  font-size: 35.02px;
  line-height: 14.69px;
  letter-spacing: 0%;
  /* background-color: #4CAF4F; */
  margin-top: 10px;
 
  

}
.Achievements-text2{
  width: 400px;
  height: 50px;
  font-size: 34.02px;
  line-height: 13.69px;
  letter-spacing: 0%;
  color: #4CAF4F;
  /* background-color: #1367e5; */
}
.Achievements-text3{
  width: 400px;
  height: 30px;
  font-size: 13.02px;
  line-height: 14.69px;
  letter-spacing: 0%;
  color: #4D4D4D;

}


.Achievements-count-countaner{
  width: 300.9px;
  height: 90.0px;
  margin-right: 40px;
}

.Achievements-count{
  width: 300.9px;
  height: 40.0px;
  display: flex;
}
.Achievements-count-member{
  /* background-color: rgb(193, 207, 202); */
  width:150.9px;
  height: 45px;
  display: flex; 
} 
.Achievements-count-member-logo{
  width: 20px;
  height: 50px;

}
.Achievements-count-member-text1{
 font-size: medium;
 color:green;
}


.Achievements-count-club{
  width:150.9px;
  height: 45px;
  display: flex; 
} 

.Achievements-count1{
  width: 300.9px;
  height: 40.0px;
  display: flex;
  margin-top: 19px;
}
.Achievements-count-event{
 
  width:150.9px;
  height: 45px;
  display: flex; 
}
.Achievements-count-payment{
  width:150.9px;
  height: 45px;
  display: flex;
}






.Unlock{
  width: 100%;
  height: 250.79px;
  /* background-color: #4CAF4F; */
  display: flex;
  justify-content: space-evenly;
 
}
.Unlock-picture img{
  width: 270px;
  height: auto;
  margin-left: 40px;
 
}

.Unlock-text1{
  width: 470px;
  height: 30px;
  font-weight: 600;
  font-size: 17.02px;
  line-height: 14.69px;
  margin-top: 20px;
  margin-right: 100px;

}

.Unlock-text2{
  width: 470px;
  height: 60px;
  font-weight:400;
  font-size: 9.67px;
  line-height: 14.69px;
  background-color: #FFFFFF;
}

.Unlock-text button{
  background-color: #4CAF4F;
  color: #FFFFFF;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 15px;
}


.Customer{
  width: 100%;
  height: 230.59px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.Customer-picture img{
  width: 230px;
  height: 220px;
  margin-left: 40px;

}

.Customer-text1{
  width: 590px;
  height: 100px;
  font-weight: 400;
  font-size: 11.10px;
  line-height: 14.69px;
  /* background-color: #4CAF4F; */
 
 
}

.Customer-text2{
  width: 470px;
  height: 30px;
  font-weight: 600;
  font-size: 17.02px;
  line-height: 14.69px;
  /* background-color: #FFFFFF; */
  margin-top: 15px;
  color: #4CAF4F;
 
}

.Customer-text3{
  width: 470px;
  height: 30px;
  font-weight: 600;
  font-size: 9.02px;
  line-height: 14.69px;
  /* background-color: #FFFFFF; */
  margin-top: 9px;
  color: #89939E;
 
}

.Customer-logo{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.Customer-logo-text1{
  color: #4CAF4F;
}


.Community-Updates{
  width: 100%;
  height: 300.59px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.Community-Updates-text1 {
  width: 500px;
  height: 15px;
  font-weight: 600;
  font-size: 29.02px;
  line-height: 14.69px;
  letter-spacing: 0%;
  
  text-align: center;
 
}
.Community-Updates-text2 {
  width: 600px;
  height: 42px;
  font-weight: 600;
  font-size: 16.02px;
  line-height: 14.69px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
}

.Community-Updates-picture{
 width: 100%;
 display: flex;
 justify-content:center;
 background-color: #4CAF4F;
 margin-left: 30px;
 display: flex;
 justify-content:center;
 margin-top: 30px;
 
}
.Community-Updates-picture img{
  width:500px;
  height: 200px;
}







